*{ padding:0; background-color:#BB999C;  margin:0; box-sizing: border-box; font-family: sans-serif; }

html{
	scroll-behavior: smooth;
}

.logo{
	font-size: 50px;
	font-weight: bold;
}

.menu a{
	text-decoration: none;
	font-size: 20px;
	color: black;
	padding: 10px 20px;
	margin:5px;
	font-weight: bold;
}
.menu a:last-child{
	background: black;
	color: white;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform-origin: center;
	perspective: 2000px;
}

.left{
	flex-basis: 50%;
	animation: animate 3s linear infinite;
}
.left img{
	width: 100%;
	padding-top: 100px;
}

@keyframes animate{
	0%{
		transform: scale(1.1);
	}
		50%{
		transform: scale(1);
	}
		100%{
		transform: scale(1.1);
	}
}

.right{
	flex-basis: 50%;
	max-width: 400px;
	margin-left: 100px;
	
}

.right h1{
	font-size: 50px;
}
.right p{
	font-size: 25px;
	margin:20px 0px;
}
.right button{
	background: black;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	padding: 10px 20px;
	margin-bottom: 20px;
	cursor: pointer;
}

#featured{
	padding: 50px 0px;
	font-size: 30px;
	text-align: center;
	/*background-color: blue;*/

}


.wrapper{
	display: grid;
	grid-template-columns: repeat(4,20%);
	grid-auto-rows: minmax(200px,auto);
	grid-gap: 1em;
	justify-content: center;
	margin-top:10px;
	align-items: center;
}
.wrapper>div{
	border:1px solid grey;
	position: relative;
	overflow: hidden;
}
.wrapper> div img{
	width: 100%;
	
}

.box1{
	grid-row: 1/3;
	grid-column: 1/3;
}

.price{
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	color: white;
	font-size: 20px;

}
.wrapper> div img:hover{
	transform: scale(1.2);
	transition: 0.4s linear;
}

#man{
	padding: 80px 0px;
}

.man-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.man-box{
	flex-basis: 15%;
	box-shadow: 2px 3px 5px grey;
	padding: 10px;
	text-align: center;
	background-color: #9999C3;

}

.man-box img{
	width: 100%;

}
.man-box h2{
	margin:20px 0px;
	background-color: #9999C3;
}
.man-box h3{
	background: black;
	color: white;
	padding: 10px;
}
.man-box:hover{
	transform: translateY(-20px);
	transition: 0.4s ease;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}
.outer-menu {
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 1;
}
.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5em 1em;
  background: rgba(33, 150, 243, 0.75);
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: white;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #FEFEFE;
  background: rgba(130, 131, 133, 0.97);
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}
